.dashboard {
    text-align: center; 
    padding: 20px;
    position: relative;
}

.dashboard h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.dashboard .insertbtn {
    margin-bottom: 20px;
}

.dashboard .logout {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    background-color: crimson;
}